html,
body, ul, ol, p,
h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

ul {
  list-style: none;
}

ol {
  padding-left: 1rem;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
